body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    margin-top: 20px;
    color: blue;
    font-size: 40px;
    font-weight: 600;
}
.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    justify-items: center; 
    gap: 30px;
    margin-top: 5%;
}
.grouptab {
    background-color: white;
    width: 400px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title {
    color: rgb(23, 145, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.title button {
    height: 24px;
}
.groupinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teams {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.teamlist {
    display: flex;
    justify-content: space-between;
}
.flagandteam {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 24px;
}
.teamlist img {
    background-color: aqua;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.points {
    font-size: 18px;
    font-weight: 200;
}